body {
    background-color: black;
    color: white;
}

.card img {
    width: 28px;
    height: 28px;
    object-fit: cover;
}

.card {
    border: solid white 2px;
    border-radius: 5px;
    width: 50px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    background-color: white;
    color: black
}

#table {
    border: solid white 2px;
    border-radius: 10px;
    width: 90vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
    background-color: green;
}

#p1 {
    border: solid blue 2px;
}

#p2 {
    border: solid red 2px;
}

#p1,#p2 {
    height: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
}

.faceDown {
    background-color: black;
}